extends layout

block content
    .w3-card-4
        header.w3-container.w3-blue
            .w3-bar.w3-border-bottom
                .w3-bar-item
                    h2 #[b Trabalho Prático de EngWeb2024]
                if type == "Not logged"
                    a.w3-bar-item.w3-button.w3-right(href="/login" style="position:relative; top:10px;")
                        .w3-cell-row
                            .w3-cell
                                i.fa.fa-sign-in-alt(style="color: #000000;")
                            .w3-cell(style="width:80%")
                                h6 #[b Login]
                else
                    a.w3-bar-item.w3-button(href="/home" style="position:relative; top:10px;")
                        .w3-cell-row
                            .w3-cell
                                i.fa.fa-home(style="color: #000000;")
                            .w3-cell(style="width:80%")
                                h6 #[b Início]
                    a.w3-bar-item.w3-button(href="/getInquiricoesList" style="position:relative; top:10px;")
                        .w3-cell-row
                            .w3-cell
                                i.fa.fa-folder-open(style="color: #000000;")
                            .w3-cell(style="width:80%")
                                h6 #[b Lista de Inquirições]
                    if type == "Administrador"
                        a.w3-bar-item.w3-button(href="/moreOptions" style="position:relative; top:10px;")
                            .w3-cell-row
                                .w3-cell
                                    i.fa.fa-cog(style="color: #000000;")
                                .w3-cell(style="width:80%")
                                    h6 #[b Mais Opções]
                    .w3-bar-item.w3-right(style="display: flex; top:10px; justify-content: space-between; align-items: center;")
                        h6 #{userName}&nbsp;&nbsp;
                        a.w3-button(href="/logout" style="position:relative; top:1px; display: flex; align-items: center;")
                            i.fa.fa-sign-out-alt(style="color: #000000;")
                            h6 &nbsp;&nbsp;#[b Sair]
            h3 &nbsp;&nbsp;&nbsp;#[b Editar relações] 
    .w3-container  
      form.w3-container(action=`/editRelation/${inquiricaoId}/${relationId}` method="POST") 
        legend Relações:
            table.w3-table-all
                tr
                    th Pessoas Relacionadas
                    th ID
                tr 
                    td
                        input.w3-input(type="text" name="relation" value=nome readonly)
                    td
                        input.w3-input(type="text" name="relationId" value=id)
                        small Mude o Id da relação para editar a relação, o nome irá ser atualizado automaticamente

        input.w3-btn.w3-blue.w3-margin(type="submit" value="Editar")

        button#cancel.w3-btn.w3-round.w3-red.w3-margin
            a(href=`/editInquiricao/${inquiricaoId}`) Voltar atrás

      if erro != undefined
        .w3-panel.w3-yellow
          h3 Erro
          p= erro      

    footer.w3-container.w3-blue.w3-center
        h5 André Pimentel Filipe, David da Silva Teixeira, João Manuel Novais da Silva e João Henrique Costa Ferreira | Engenharia Web 2024 - Universidade do Minho
        h5 Generado por EngWeb2024 in #{date}